<div class="edit-header">
    <div class="edit-top">
        <h1>プロジェクト編集</h1>
        <div class="edit-percent">
            <p>まだ申請できません</p>
        </div>
    </div>
    <div class="edit-lists">
        <ul>
            <li><%= link_to("目標設定","/donate/#{@donate.id}/edit") %></li>
            <li><%= link_to("概要","/donate/#{@donate.id}/edit/outline") %></li>
            <li><%= link_to("ビジュアル","/donate/#{@donate.id}/edit/visual") %></li>
            <li><%= link_to("本文","/donate/#{@donate.id}/edit/mainbody") %></li>
            <li><%= link_to("リターン","/donate/#{@donate.id}/edit/perk") %></li>
            <li><%= link_to("その他","/donate/#{@donate.id}/edit/other") %></li>
            <li><%= link_to("本人確認","/donate/#{@donate.id}/edit/certification") %></li>
        </ul>
    </div>
</div>
<%= form_with url: "/donate/#{@donate.id}/update" do |form| %>
<div class="edit-main">
    <div class="donate-edit-container">
        <h1 class="edit-title">必要な目標金額を設定しましょう</h1>
        <div class="asp-money">
            <p>名前</p>
            <input type="number" placeholder="（例）10000">円
        </div>
        <div class="collect-type">
            <p>住所</p>

        </div>
        <div class="collect-type">
            <p>電話番号</p>

        </div>
        <div class="collect-type">
            <p>生年月日</p>

        </div>
        <div class="collect-type">
            <p>本人確認書類画像</p>

        </div>
        <div class="collect-type">
            <p>運営主体</p>

        </div>
        <p>振込先口座情報</p>
        <div class="collect-type">
            <p>銀行名</p>

        </div>
        <div class="collect-type">
            <p>支店番号</p>

        </div>
        <div class="collect-type">
            <p>口座種別</p>

        </div>
        <div class="collect-type">
            <p>口座番号</p>

        </div>
        <div class="collect-type">
            <p>口座名義</p>

        </div>
    </div>
</div>
<div class="edit-footer">
    <div class="footer-btn">
        <input type="submit" class="edit-btn edit-submit" value="編集内容を送信">
    </div>
</div>
<% end %>