<div class="edit-header">
    <div class="edit-top">
        <h1>プロジェクト編集</h1>
        <div class="edit-percent">
            <p>まだ申請できません</p>
        </div>
    </div>
    <div class="edit-lists">
        <ul>
            <li><%= link_to("目標設定","/donate/#{@donate.id}/edit") %></li>
            <li><%= link_to("概要","/donate/#{@donate.id}/edit/outline") %></li>
            <li><%= link_to("ビジュアル","/donate/#{@donate.id}/edit/visual") %></li>
            <li><%= link_to("本文","/donate/#{@donate.id}/edit/mainbody") %></li>
            <li><%= link_to("リターン","/donate/#{@donate.id}/edit/perk") %></li>
            <li><%= link_to("その他","/donate/#{@donate.id}/edit/other") %></li>
            <li><%= link_to("本人確認","/donate/#{@donate.id}/edit/certification") %></li>
        </ul>
    </div>
</div>
<div class="edit-main">
    <div class="edit-container">
        <h1>あなたの想いを語り尽くしましょう</h1>
        <div class="asp-money">
            <p>本文</p>
                <%= form_with url: "/donate/#{@donate.id}/update" do |form| %>
                    <div class="field">
                        <%= form.rich_text_area :content %>
                    </div>
                <% end %>
                <p>※ 行間をあけずに改行するには【 Shift + Enter 】を押してください。</p>
                <p>※特定商取引法に基づく記載は、法人/個人問わず、すべてのプロジェクトオーナー様に義務付けられております。必ずご記入ください。</p>
            </div>
        </div>
    </div>
</div>
<div class="edit-footer">
    <div class="footer-btn">
        <input type="submit" value="保存する">
        <a href="#2">プレビュー</a>
    </div>
</div>