<div class="edit-header">
    <div class="edit-top">
        <h1>プロジェクト編集</h1>
        <div class="edit-percent">
            <p>まだ申請できません</p>
        </div>
    </div>
    <div class="edit-lists">
        <ul>
            <li><%= link_to("目標設定","/donate/#{@donate.id}/edit") %></li>
            <li><%= link_to("概要","/donate/#{@donate.id}/edit/outline") %></li>
            <li><%= link_to("ビジュアル","/donate/#{@donate.id}/edit/visual") %></li>
            <li><%= link_to("本文","/donate/#{@donate.id}/edit/mainbody") %></li>
            <li><%= link_to("リターン","/donate/#{@donate.id}/edit/perk") %></li>
            <li><%= link_to("その他","/donate/#{@donate.id}/edit/other") %></li>
            <li><%= link_to("本人確認","/donate/#{@donate.id}/edit/certification") %></li>
        </ul>
    </div>
</div>
<div class="edit-main">
    <div class="edit-container">
        <h1>あなたのプロジェクトをわかりやすく伝えましょう</h1>
        <div class="asp-money">
            <p>タイトル</p>
            <input type="number" placeholder="（例）10000">円
        </div>
        <div class="collect-type">
            <p>概要文</p>

        </div>
        <div class="end-date">
            <p>カテゴリー</p>
            <input type="text" placeholder="（例）2022-01-04">
            <div class="text-box">
                <p>※ カテゴリーの決定に関しましては、弊社の基準が適用されることがあります。</p>
            </div>
        </div>
    </div>
</div>
<div class="edit-footer">
    <div class="footer-btn">
        <input type="submit" value="保存する">
        <a href="#2">プレビュー</a>
    </div>
</div>