<!DOCTYPE html>
<html>
  <head>
    <title>ADoNation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
            <a href="/" class="header-logo">ADoNation</a>
            <form action="/projects" method="get">
             <input id="search" id="s" name="s" type="text" placeholder="キーワード検索"/>
             <button type="submit" id="kensaku"><i class="fas fa-search"></i></button>
            </form>
                <div class="header-list">
                    <ul>
                        <%= link_to("新規登録","/signup") %>
                        <%= link_to("ログイン","/login") %>
                        <%= link_to("お問い合わせ","/contact") %>
                        <%= link_to("プロジェクトを掲載する","/newproject") %>
                        <%= link_to("初めての方へ","/first") %>
                    </ul>
                </div>
        </header>
        <% if flash[:notice] %>
            <div class="flash">
                <%= flash[:notice] %>
            </div>
        <% end %>
    <%= yield %>
        <footer>
            <a href="/" class="footer-logo">ADoNation</a>
            <div class="footer-list">
                <ul>
                    <l><%= link_to("会社概要","/aboutus") %></l>
                    <li><%= link_to("採用","/recruitment") %></li>
                    <lis><%= link_to("お問い合わせ","/contact") %></lis>
                </ul>
            </div>
        </footer>
  </body>
</html>
